
/* Fonts Google */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Parent style */
html {
    /* Fonts */
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    /* Colors */

    /* Layouts */

}








.main {
    /* Layouts */
    background-color: #eee;
    text-align: center;
}

.section {
    /* Layouts */
    background-color: #777;
    width: 372px;
    margin: 16px auto;
    border-radius: 8px;
}

.status-messages {
    padding: 8px 0;
    color: white;
    font-size: 2em;
}

.playfield {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 372px;
    height: 372px;
    align-items: center;
    justify-items: center;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
    line-height: 105px;
    font-size: 4em;
    color: #fff;
}

.cell:hover {
    background-color: #ddd;
    box-shadow: 0px 0px 2px 1px #000;
}

.button {
    font-size: 1.5em;
    margin: 8px 0;
}